<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GALLERY</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="img">
    <ion-img src="assets/1.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/2.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/3.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/4.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/5.png"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/6.jpg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/7.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/8.jpg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/9.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/10.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/11.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/12.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/13.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/14.jpeg"></ion-img><br><br>
    <br><br>
    <ion-img src="assets/15.jpeg"></ion-img><br><br>
    <br><br>


</div>
  
</ion-content>
