<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CONTACTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="pic"><ion-img src="assets/icon02.webp"></ion-img></div><br><br>
  <br><br>
  <br><br>
  <input type="text"name="name"><br>
  <br><br>
  <div class="pic"><ion-img src="assets/icon01.png"></ion-img></div><br><br>
  <br><br>
  <br><br>
  <input type="number" name="number"><br><br>
  <br><br>
  <button type="button">Save</button>
  
</ion-content>
